doctype html

html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css')
    link(rel='stylesheet' href='//use.fontawesome.com/0b7f618d15.css')
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet' href='css/main.css')

    script(src='js/main.js')

  body
    main.main
      .aboutme-container.container-centering
        .aboutme
          img.aboutme_avatar(src='/img/avatar.jpg')

          .aboutme_profile
            h2.aboutme_name
              | Hayato Kawai (Fohte)

            .aboutme_links
              ul.aboutme_links_list.no-list-marker
                li.aboutme_links_list_item.link
                  a(href='//twitter.com/fohte')
                    i.link_icon.link-twitter.fa.fa-twitter

                li.aboutme_links_list_item.link
                  a(href='//github.com/fohte')
                    i.link_icon.link-github.fa.fa-github

                li.aboutme_links_list_item.link
                  a(href='//www.facebook.com/Fohte')
                    i.link_icon.link-facebook.fa.fa-facebook

            .aboutme_bio
              p
                | I'm a student of Kobe City College of Technology.
                br
                | Interested in: Web/CLI development and Rhythm/RPG/Action games.
              ul.aboutme_bio_taglist.no-list-marker
                li.aboutme_bio_taglist_item Vim
                li.aboutme_bio_taglist_item Python
                li.aboutme_bio_taglist_item Ruby
                li.aboutme_bio_taglist_item JavaScript

            ul.aboutme_info.no-list-marker
              li.aboutme_info_item
                i.aboutme_info_icon.fa.fa-map-marker
                | Kobe, Hyogo, Japan

              li.aboutme_info_item
                i.aboutme_info_icon.fa.fa-envelope-o
                a(href='mailto:fohte.hk@gmail.com')
                  | fohte.hk@gmail.com
